/*
 * 1. Media
 * 2. Base
 * 3. Header
 * 4. Main
 * 5. Footer
 * 
 */

/*
 * Start Base
 */
body {
    background:url("/images/rnbg.png") top center repeat;
    width:100% !important;
    top:0;
    left:0;
    right:0;
    font-family: "Lato",arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857 !important;
}
article, aside {
    background-color:#FAFAFA;
    margin-bottom: 20px !important;
    padding:0 !important;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif !important;
    color: #2A3F52 !important;
    font-weight: bold;
}
p, ul, ol, li, a {
    font-family: "Lato",arial,sans-serif !important;
    margin: 0 0 10px;
}

.img-circle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.pull-left {
    float:left;
}
.pull-right {
   float:right; 
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn, a.btn {
    font-family: "Montserrat",arial,sans-serif;
    font-weight: bold;
    padding: 8px 16px;
    transition: all 0.4s ease-in-out 0s;
}
a.btn-cta-primary, .btn-cta-primary {
    background: #54ba4e none repeat scroll 0 0;
    border: 1px solid #54ba4e;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
img {
    vertical-align: middle !important;
}
img {
    border: 0 none;
}

/*
 * Start Media
 */
/* Small devices (tablets, 640px and up) */
@media (max-width: 639px) {
    .container-flex{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;    
    -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   
    }
    
    main .primary {
        width: 100%;
    }
    main .secondary {
        width: 100%;
    }
    ul.social-btn {
        padding:0;
    }
    ul.social-btn li {
        display:inline !important;
    }
}
/* Small devices (tablets, 640px and up) */
@media (min-width: 640px) {
    .container-flex{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    }
    main .primary {
        width: 48%;
    }
    main .secondary {
        width: 48%;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container-flex{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    }
    main .primary {
        width: 55.5%;
    }
    main .secondary {
        width: 41%;
    }
    ul.social-btn {
        padding:0;
    }
    ul.social-btn li {
        display:inline !important;
    }
    footer {
        position:fixed;
        bottom:0;
        left:0;
        right: 0;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 980px) {
    .container-flex{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    }
    main .primary {
        width: 57.5%;
    }
    main .secondary {
    width: 40%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container-flex{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    }
    .container {
        width:1360px !important;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    main .primary {
        width: 67.5%;
    }
    main .secondary {
        width: 30%;
    }
    
}

/*
 * Start Header
 */
header {
    background-color:#FAFAFA;
    border-top:solid 15px #2A3F52 !important;
    height:240px !important;
    overflow: hidden;
    position:fixed;
    top:0;
    left:0;
    right: 0;
}
header .profile-image {
    width: 200px;
    height:200px;
    margin-right:30px;
}
header .profile-content .name {
    margin: 20px 0 0 !important;
}
header .profile-content .desc {
    margin: 0 0 5px !important;
}
.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
header .profile-content {
}
header .profile-content .social a {
    background: #2A3F52 none repeat scroll 0 0 padding-box;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 36px;
    text-align: center;
    width: 36px;
}
header .profile-content .social a:hover {
  background: #447294;
}
header li a {
    margin:0 !important;
}
header .profile-content .social a .fa {
    font-size: 20px;
    padding-top: 8px;
}
header .list-inline li:first-child {
    margin-left:0;
    margin-bottom:10px;
}
header .btn {
    font-weight: bold;
    margin-top: 60px;
}

/*
 * Start Main
 */

main {
    background:none;
    padding-top:300px;
    padding-bottom:100px;
    
}
main .sections-wrapper {
}
main .container {
    overflow:hidden;
    clear: both;
}
main .primary, main .secondary{
    padding:0;
    margin:0;
}
main .content {
    margin:20px;
}

main h2.heading {
    font-size: 32px;
    margin: 10px 0 15px !important;
}
main .list-unstyled {
    list-style: outside none none;
    padding-left: 0;
}
main .list-unstyled li {
    margin-bottom: 15px;
}
main .list-unstyled li .fa {
    color: #ccd1d6;
    margin-right: 15px;
}
main aside p {
    border-radius:0 !important;
    padding:0 !important;
}
main aside p {
    background:none !important;
    border:0 !important;
    color:0 !important;
}
.item {
  margin-bottom: 30px;
}
main .skills .skillset .level-title {
  font-size: 16px;
  position: relative;
  margin-top: 0;
  margin-bottom: 10;
}
main h3.level-title {
    font-size: 16px !important;
}
.level-label {
  color: #ccd1d6;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", arial, sans-serif;
}
.level-bar {
  height: 15px !important;
  background: #e8e8e8;
}
.level-bar-inner {
  height: 15px;
  background: #66cb8c;
}

ul.social-btn li {
    list-style:none;
    display:inline;
    margin:0;
}
ul.social-btn li a {
    text-decoration:none;
}
ul.social-btn li a.btn-twitter {
    background: #5EA9DD none repeat scroll 0 0;
    border: 1px solid #5EA9DD;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
ul.social-btn li a.btn-facebook {
    background: #3765A3 none repeat scroll 0 0;
    border: 1px solid #3765A3;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
.small {
    width: 200px !important;
    height: 107px !important;
    cursor: pointer;
}

/*
 * Start Footer
 */
footer {
    background-color:#FAFAFA;
    border-bottom:solid 15px #2A3F52 !important;
    overflow: hidden;
}
